language: rust

rust:
  - nightly-2019-07-06
  - stable

before_script:
  - rustup component add rustfmt

script:
  - cargo fmt --all -- --check
  - cd webxr
  - cargo build --features=glwindow,headless,googlevr
  - cargo build --features=ipc,glwindow,headless,googlevr
  - rustup target add arm-linux-androideabi
  - cargo build --target arm-linux-androideabi --features=ipc,googlevr
  - rustup target add aarch64-pc-windows-msvc
  - cargo build --target=aarch64-pc-windows-msvc --features ipc,openxr-api

notifications:
  webhooks: http://build.servo.org:54856/travis
